@model Medical_Center.ViewModel.RegisterDoctors

@{
    ViewBag.Title = "Register Doctors";
}

<h2>Register Doctors</h2>

<div>
    @using (Html.BeginForm("SaveRegisterDetailsDoctors", "Account"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-12">@ViewBag.Message</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.AMKA)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.AMKA, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.FirstName)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.LastName)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Username)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Username, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Password)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Speciality)</div>
            <div class="col-md-10">
                @Html.DropDownList("Speciality", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Pathologists", Value = "Pathologists" },
                    new SelectListItem{ Text="Ophthalmologists", Value = "Ophthalmologists" },
                    new SelectListItem{ Text="Orthopedics", Value = "Orthopedics" },
                })
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Admin_id)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Admin_id, new { @class = "form-control" })</div>
        </div><br />

        <input type="submit" value="Register" class="btn btn-primary" />
    }

</div>